.wrap {
  background-color: black;

  .batch-detail-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    .header-left,
    .header-right {
      display: flex;
      align-items: center;

      gap: 10px;

      button {
        padding: 15px;
        font-size: 16px;
        border: 1px solid white;
        background-color: black;
        color: white;
        cursor: pointer;

        &.active {
          border: 1px solid orange;
          color: orange;
        }

        span {
          color: var(--text-color-grey);
          margin-left: 5px;
        }
        &:last-child {
          &:hover {
            background-color: var(--text-color-grey);
            span {
              color: white;
            }
          }
        }
      }

      p {
        color: white;
        cursor: pointer;

        span {
          margin: 0 5px;
          color: var(--text-color-grey);
        }

        &:hover span {
          color: white;
        }
      }
    }
  }

  .batch-detail-content {
    background-color: black;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 50px;

    .single-detail {
      display: flex;
      align-items: center;

      .name {
        text-align: right;
        color: var(--text-color-grey);
        width: 200px;
      }

      .value {
        color: white;
        padding-left: 14px;
        width: calc(100% - 200px);
        overflow: hidden;

        span {
          color: var(--text-color-grey);
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .batch-detail-footer {
    background-color: black;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .single-footer-item {
      .footer-name {
        font-size: 14px;
        color: var(--text-color-grey);
      }
      .footer-value {
        color: white;

        span {
          color: var(--text-color-grey);
        }
      }
    }
  }
}
