.wrap {
  width: 100%;
  margin-bottom: 40px;
  .header-container {
    padding-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      padding-bottom: 10px;
    }

    .logo {
      font-size: 36px;
      font-weight: bold;
      cursor: pointer;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #737171;

      span {
        cursor: pointer;
        font-size: 18px;
      }

      button {
        height: 19px;
        background-color: white;
        padding: 0 10px;
        border-radius: 20px;
        border: 1px solid #737171;
        cursor: pointer;
      }
    }
  }

  .container {
    margin: 25px 0 40px 0;
    width: 100%;

    .first-post-wrap {
      display: flex;
      align-items: flex-start;
      width: 100%;
      gap: 25px;

      @media (max-width: 768px) {
        align-items: none;
        flex-direction: column;
      }

      .first-post-img-wrap {
        width: 66%;
        height: 350px;

        @media (max-width: 768px) {
          width: 100%;
          height: 174px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .first-post-info-wrap {
        flex: 1;
        margin-top: 7px;
        margin-bottom: 20px;
        h4 {
          font-size: 26px;
          line-height: 1.3;
        }

        p {
          font-size: 20px;
          line-height: 1.2;
          color: #737171;
          text-align: justify;
        }

        .sub-info {
          display: flex;
          align-items: center;
          margin-top: 20px;

          img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            margin: 0 10px;
          }
          .sub-info-text {
            color: #737171;
            font-size: 16px;
            padding-left: 10px;

            p {
              &:first-child {
                font-weight: 500;
              }
            }
          }
        }
      }
    }

    .post-list-container {
      margin-top: 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .post-card {
        background-color: white;
        img {
          width: 100%;
          height: 174px;
        }

        .post-card-info {
          h4 {
            font-size: 26px;
          }
          p {
            font-size: 20px;
            margin-top: 10px;
            text-align: justify;
            color: #737171;
          }
        }

        .post-card-footer {
          margin-top: 20px;

          img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            margin: 0 10px;
          }
          .footer-text {
            color: #737171;
            font-size: 16px;
            padding-left: 10px;

            p {
              &:first-child {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}
