

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background: transparent;
    position: sticky;
    backdrop-filter: blur(45px);
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: black;
  }


  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-right: 10px;
  }

  .icon {
    display: flex;
    color: #949494;
    font-size: 15px;
    margin-right: 20px;
    margin-top: 5px;
  }

  .icon li {
    list-style: none;
    /* padding: 12px; */
    padding: 0 8px;
  }

  .icon li:hover {
    cursor: pointer;
    color: white;
  }

  .menu {
    display: flex;
    gap: 15px;
    margin-left: 150px;
  }

  .menu li {
    list-style: none;
    color: white;
    transition: 0.3s;
    border: 1px solid transparent; 
    background-color: transparent; 
    border-radius: 30px;
    padding: 10px 20px;
  }

  .menu li:hover {
    cursor: pointer;
    border-color: #202020; 
    background-color: #202020;
  }

  .nav-btn {
    border: 1px solid white;
    padding: 8px 15px;
    border-radius: 20px;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }

  .nav-btn:hover {
    background: #202020;
  }

