html, body {
  overflow-x: hidden; 
  overflow-y: auto; 
  height: 100%;
}


.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 30px;
  background: transparent;
  position: sticky;
  backdrop-filter: blur(45px);
  width: 100%;
  top: 0;
  z-index: 100;
  background-color: black;
}

.ele1 {
  display: flex;
  justify-content: flex-start;
}

.ele2 {
  display: flex;
  justify-content: flex-end;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.icon {
  display: flex;
  color: #949494;
  font-size: 15px;
  margin-right: 20px;
  margin-top: 8px;
  margin-left: 10px;
}

.icon li {
  list-style: none;
  padding: 0 8px;
}

.icon li:hover {
  cursor: pointer;
  color: white;
}

.menu {
  display: flex;
  gap: 15px;
  list-style: none;
  margin-right: 10px;
}

.menu li {
  transition: 0.3s;
  border: 1px solid transparent;
  background-color: transparent;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  width: fit-content;
}

.menu li:hover {
  cursor: pointer;
  border-color: #202020;
  background-color: #202020;
}

.menu li a {
  color: white;
  text-decoration: none;
}

.nav-btn {
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 20px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #202020;
}

.menu-btn {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/*  Responsive  */
@media screen and (max-width: 980px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  .menu-btn {
    display: block;
    position: absolute;
    right: 20px;
    margin-top: -12px;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 345px;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    display: none;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    display: block;
    padding: 12px;
    text-align: center;
    width: 100%;
  }

  .menu li:hover {
    cursor: pointer;
    border-color: #202020;
    background-color: #202020;
  }

  .nav-btn {
    position: absolute;
    font-size: 16px;
    top: 315px;
    left: 50%; /* Dịch chuyển nút đến giữa */
    transform: translateX(-50%);
    width: 90%;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 25px;
    display: none;

  }

  .nav-btn.active {
    display: flex;
  }
}

@media (max-width: 430px) {
  .icon {
    display: none;
  }
}