.bedrock {
    padding: 80px 150px;
    background: black;
    color: white;
}

.bedrock-row1, .bedrock-row2 {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
}

.bedrock-row2  {
    margin-top: 100px;
}

.bedrock-row2 .subtitle-bedrock {
    margin-top: 50px;
}

.bedrock-col2 {
    margin-left: 200px;

}

.bedrock-col1, .bedrock-col2 {
    width: 50%; 
}

.image-bedrock {
    width: 120px; 
    height: auto; 
    margin-bottom: 10px; 
}

.bedrock-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding-left: 20px; 
}

.title-bedrock {
    color: white;
    font-size: 50px; 
    max-width: 300px;
    margin-bottom: 30px;
}

.subtitle-bedrock {
    color: white;

    text-align: left; 
    font-size: 27px; 
}

.content-bedrock {
    color: #aaa;
    text-align: left; 
    max-width: 500px; 
    margin: 0; 
    margin-top: 20px;   
    line-height: 1.4;
    font-size: 18px;
}

/* Responsive */
@media (max-width: 1024px) {
    .bedrock {
        padding: 80px 40px;
    }
    .bedrock-col2 {
        margin-left: 100px;
    }
}

@media (max-width: 768px) {
    .title-bedrock {
        font-size: 39px;
    }

    .subtitle-bedrock {
        font-size: 23px;
    }

    .content-bedrock {
        font-size: 16px;
        max-width: 100%;
    }

    .bedrock-row1, .bedrock-row2 {
        flex-direction: column;
        align-items: flex-start;
    }

    .bedrock-col1, .bedrock-col2 {
        width: 100%;
        margin-left: 0;
    }

    .bedrock-col2 {
        margin-top: 30px;
    }

    .bedrock {
        padding: 50px 20px; /* Giảm padding để vừa với màn hình nhỏ */
    }
}

@media (max-width: 430px) {
    .bedrock {
        padding: 80px 10px;
    }
    .title-bedrock {
        font-size: 28px;
        max-width: 200px;
    }
    .subtitle-bedrock {
        font-size: 19px;
    }
    .content-bedrock {
        font-size: 16px;
    }
}