.wrap {
  background-color: white;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-right: 15px;
  @media (max-width: 768px) {
    margin-right: -1px;
  }
  .container {
    width: 1032px;
    height: 100%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0 20px;
    }

    .menu {
      color: #737171;

      span {
        margin-right: 16px;
        @media (max-width: 768px) {
          display: none;
        }
      }

      button {
        padding: 0 16px;
        height: 37px;
        cursor: pointer;
        border: 1px solid #737171;
        background-color: white;
        border-radius: 20px;
      }
    }
  }
}
