.doc-container {
  background-color: white;
  margin-top: 64px;
  width: 100%;
  min-height: 1000px;
  padding: 0 32px;
  display: flex;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 1024px) {
  .doc-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 850px) {
  .doc-container {
    padding: 0 24px;
  }
}

@media only screen and (max-width: 728px) {
  .doc-container {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 639px) {
}
